.dropdown-menu {
    background: rgb(218, 0, 0);
    width: 200px;
    position: absolute;
    top: 80px;
    list-style: none;
    text-align: start;
  }
  
  .dropdown-menu li {
    background: rgba(2, 159, 250, 0.897);
    cursor: pointer;
  }
  
  .dropdown-menu li:hover {
    background: rgb(5, 181, 250);
  }
  
  .dropdown-menu.clicked {
    display: none;
  }
  
  .dropdown-link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 16px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif,'Designil Thai Font','Kanit';
  }
  
  @media screen and (max-width: 960px) {
    .fa-caret-down {
      display: none;
    }
  }