
.footer-container {
    background-color: #303030;
    padding: 2rem 0 2rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: -0.6px;
    
  }
  
  .footer-subscription {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  
    margin-bottom: 15px;
    padding: 5px;
    color: #fff;
  }
  
  .footer-subscription > p {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif,'Designil Thai Font','Sarabun';
  }
  
  .footer-subscription-heading {
    margin-bottom: 15px;
    font-size: 35px;
    color: #ffffff;
    
  }
  
  /* .footer-subscription-text {
    margin-bottom: 24px;
    font-size: 20px;
  } */
  
  .footer-input {
    padding: 8px 20px;
    border-radius: 2px;
    margin-right: 10px;
    outline: none;
    border: none;
    font-size: 18px;
    margin-bottom: 16px;
    border: 1px solid #fff;
  }
  
  .footer-links {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
  }
  
  .footer-link-wrapper {
    display: flex;
  }
  
  .footer-link-items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 5cm;
    margin-right: -2.5cm;   
    text-align: right;
    color: #ffffff;
    width: 460px;   
    box-sizing: border-box;
    float: right;
  }

  /* ระยะห่างที่อยู่กับข้อความ */
  .footer-link-items h2 {
    margin-bottom: 10px;
  }
  
  .footer-link-items > h2 {
    color: rgb(252, 252, 252);
    font-size: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif,'Designil Thai Font','Kanit';
  }
  
  /* .footer-link-items a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    margin-bottom: 0.5rem;
  } */
  .footer-link-items > p {
    color: rgb(255, 255, 255);
    line-height: 1.5;
    font-size: 18px;
    font-weight: 600;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
      'Lucida Sans', Arial, sans-serif,'Designil Thai Font','Kanit';
  }
  .footer-link-items > a {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 800;
    line-height: 1.5;   
  }
  
  .footer-link-items a:hover {
    color: #ffffff;
    transition: 0.3s ease-out;
  }
  
  .footer-email-form h2 {
    margin-bottom: 2rem;
  }
  
  .footer-input::placeholder {
    color: #b1b1b1;
  }
  
  /* Social Icons */
  .social-icon-link {
    color: #fff;
    font-size: 24px;
  }
  
  .social-media {
    max-width: 1000px;
    width: 100%;   
  }
  
  .social-media-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
  }
  
  .social-icons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 240px;
  }
  
  .social-logo {
    color: #fff;
    justify-self: start;
    margin-left: 20px;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    margin-bottom: 16px;
  }
  
  .op{
    line-height:  110px;
    color: rgb(255, 255, 255);
    margin-bottom: -50px;
    font-size: 10px;
    padding: 4rem 0 2rem ;
  }
  
  @media screen and (max-width: 820px) {
    .footer-links {
      padding-top: 2rem;
    }
  
    .footer-input {
      width: 100%;
    }
  
    .btn {
      width: 100%;
    }
  
    .footer-link-wrapper {
      flex-direction: column;
    }
  
    .social-media-wrap {
      flex-direction: column;
    }
  }
  
  @media screen and (max-width: 768px) {
  }
  hr.style1{
    border-top: 1px solid #8c8b8b;
  }